*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    padding: 2rem 10%;
}
main{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    text-align: center;
    /* background-color: antiquewhite; */
}
main h1{
    padding-top: 1rem ;
    font-size: 2.5rem;
}

.form {
    padding: 5rem 0;
}
.form input {
    width: 480px;
    height: 2.5rem;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    box-shadow: 2px 2px 10px rgb(180, 177, 177);
    border: none;
    font-size: 18px;
}
.form button{
    padding: 0.4rem 1rem;
    background-color: green;
    color: white;
    border-radius: 0.3rem;
    font-size: 18px;
    border: none;

}
.form button:active{
    font-size: 18px;
    font-weight: 600;
}
.onlyimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: chartreuse; */
}
.imganddiscDiv{
    /* background-color: aqua; */
    box-shadow: 2px 2px 10px black;
    margin-bottom: 3rem;
    border-radius: 0.31rem;
    /* object-fit: contain; */
   transition: background-color 0.5s ease-in;
    overflow: hidden;
}
.imganddiscDiv:hover{
    background-color: rgb(183, 183, 183);
}

.para{
    width: 320px;
    padding: 0.8rem 0.5rem;
    height: 3.2rem;
}

.imgStyle{
    width: 350px;
    height: 220px;
    border-radius:0.31rem;
    /* margin: 1rem ; */
    transition: all 1s ease;
}
.imgStyle:hover{
    scale: 1.05;
}
.showbtn{
    padding: 0.5rem 1rem;
    font-size: 18px;
    border-radius: 0.7rem;
    font-weight: 500;
    background-color: lightblue;
    color: white;
    margin: 3rem;
}
.showbtn:active{
    font-size: 18px;
    font-weight: 600;
}
/* HTML: <div class="loader"></div> */
/* .loader {
    width: 50px;
    --b: 8px; 
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%,#f03355) content-box;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
      radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation:l4 1s infinite steps(10);
  }
  @keyframes l4 {to{transform: rotate(1turn)}}
   */
  .center{
    text-align: center;
  }